@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body {
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #f0f0f0;
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif
}